*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height:100vh;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(white, black);
}

.grid{
    font-size:25px;
    height:400px;
    width: 400px;
    display:flex;
    flex-wrap: wrap;
    background-color: grey;
    outline: solid 2px black;
    
}

.grid div{
    height:40px;
    width:40px;
    box-sizing: border-box;
    border: solid .5px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.checked{
    background-color:lightgray;
}

/* header nav */

header{
    background-color: darkblue; /* For browsers that do not support gradients */
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
header h1{
    font-size: 20px;
}
header p{
    font-family: 'Lobster', cursive;
}
.headerInner{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}
.mainContainer{
    margin: 110px auto;
    width: 800px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.controls{
    font-size: 18;
    padding: 20px;
    text-align:left;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color:lightslategray;
    outline: solid 2px black;
}
.controls button{
    width: 80%;
    height: 20px;
    align-self: center;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 4px;
}
.remainingFlags{
    display: flex;
    justify-content: center;
    align-items: center;
}
#flags-left{
    color: darkred;
}